<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
</head>
<body>
        <h1 style=color:grey;text-align:center;>Lista de idade do menor para o maior</h1>
        <br>
        <% let c = 0 %>
        <% while(c < 3) { %>
        <h1 style=color:green;text-align:center;><%= peoples[c].name %>: <%= peoples[c].age %> </h1>
        <%c++ } %>
        <br>
        <h1 style=color:green;text-align:center;><%= peoples[0].name %> É o mais novo!!</h1>


   <br>
</body>
</html>